.dashboard {
  border-radius: 30px;
  padding: 22px;
  filter: drop-shadow(0px 0px 8px #69ba2d);
  border-radius: 35px;
}

.custom-viz {
  filter: drop-shadow(2px 2px 10px #ccc);
  border-radius: 30px;
  margin: 3px;
}

.text-bg-primary-soft {
  color: #69ba2d !important;
  background-color: #ecedfd !important;
  border-color: transparent;
}

.nk-section-subtitle {
  color: #69ba2d;
}
.text-primary {
  color: #69ba2d !important;
}
.btn-primary {
  background-color: #7bb65c !important;
}
.snapshots {
  display: flex;
  margin-left: -38px;
}
.circle-proj {
  margin-top: -190px;
}
.scenario-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container {
  background-color: white;
}
.stacked-thumb {
  padding: 17px;
  background-color: white;
}
.scroll-top {
  background-color: #69ba2d;
}
.scroll-top:hover {
  color: #fff;
  background-color: #396517;
}
.btn-outline-primary {
  color: #69ba2d;
  border-color: #69ba2d;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #69ba2d;
  --bs-btn-border-color: #69ba2d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #68a639;
  --bs-btn-hover-border-color: #68a639;
  --bs-btn-focus-shadow-rgb: 122, 125, 243;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #68a639;
  --bs-btn-active-border-color: #68a639;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #92b379;
  --bs-btn-disabled-border-color: #92b379;
}

.btn-outline-primary {
  --bs-btn-color: #69ba2d;
  --bs-btn-border-color: #69ba2d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #69ba2d;
  --bs-btn-hover-border-color: #69ba2d;
  --bs-btn-focus-shadow-rgb: 99, 102, 241;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #69ba2d;
  --bs-btn-active-border-color: #69ba2d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #69ba2d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #69ba2d;
  --bs-gradient: none;
}
.scroll-top {
  background-color: #69ba2d;
}
.nk-testimonial-card-s3 .nk-testimonial-icon .icon {
    font-size: 5.25rem;
    background: linear-gradient(90deg, #69ba2d 0%, #69ba2d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nk-swiper-s4 .swiper-pagination-bullet-active {
  background-color: #69ba2d;
}

.nk-footer-social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 0px solid #e5e7eb;
  border-radius: 6px;
  background-color: #69ba2d;
}
.nk-brand {
  & > a {
    color: black;
    font-size: 1.43rem;
  }
  span {
    font-size: 1.3rem;
    font-weight: 900;
  }
}
 .nk-brand > a {
  color: #444;
 }
 .auto-w > div {
  width: auto;
 }